*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('./assets/default.png'), default;
    font-size: 16pt;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f4f2f0;
    height: 50px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    font-size: 18pt;
}
#empty{
    text-align: center;
    font-style: italic;
    color: #999999;
}
.fotos-conteiner{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: clamp(120px, 90%, 1200px);
}
.photo-home-div{
    display: inline-block;
    margin: 5px;
}
a > img{
    box-shadow: 0 0 2px #060c13;
    border-radius: 5px;
    position: relative;
    top: 0
}
a>img:hover{top:-4px;box-shadow:0 4px 4px #999999;
   transition: all .2s ease-in-out}
a{
    text-decoration: none;
    color: #ab8762;
    padding: 3px;
}
a:hover{
    text-decoration: underline;

}
.photo-armario{
    width: clamp(150px, 20vw, 250px);
    height: clamp(150px, 20vw, 250px);
}

.voltar{
    margin: 10px;
}